*{
    padding:0;
    margin:0;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #020202;
}
#logoAndText{
    display: flex;
    align-items: center;
    gap:15px;
}
#topnav{
    display: flex;
    width: calc(100%-20px);
    align-items:center;
    justify-content: space-between;
}
#logo-text{
    color:white;
    font-weight: 500;
    letter-spacing: 0;
    display: inline-block;
}
#topnav{
    margin-top:20px;
    margin-left:20px;
    letter-spacing: 0;
}
#search{
    background: none;
    border-radius: 20px;
    border: 2px solid #00C49A;
    padding:10px;
    color:#00C49A;
}
#search::placeholder{
    color:#00C49A;
    font-weight: 500;
    
}
#menu-ul{
    list-style-type: none;
}
#menu-ul>li{
    display: inline-block;
}
#menu-ul>li>a{
    color:white;
    font-size:14px;
    font-weight: 300;
    padding:10px;
    margin:10px;
}
#menu{
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
#active{
    border-radius: 20px;
    border: 2px solid #00C49A;
}
#menu-ul>li>a:hover{
    color:white;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid #00C49A;
    margin:0 40px;
    transition: all 0.3s ease-in-out;
}
#menu-ul>li>a:not(hover){
    transition: all 0.3s ease-in-out;
}
.sign{
    background-color: white;
    padding:5px 15px;
    color:black;
    margin:0 15px;
    border-radius: 20px;
}
#signIn{
    border: 2px solid #00C49A;
    box-shadow: 3px 3px 0 0 #00C49A;
    color:#00C49A;
}
#signUp{
    border: 2px solid #266CEF;
    box-shadow: 3px 3px 0 0 #266CEF;
    color:#266CEF;
}
#user{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.sign:hover{
    transform: translate(3px, 3px);
    transition: all 0.3s ease-in-out;
}
#signIn:hover,#signUp:hover{
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}
#start{
    display: flex;
    justify-content: center;
    gap:150px;
}
#start-title{
    margin-top:200px;
    color:white;
    font-size:25px;
    font-weight: 400;
}
#start-left{
    max-width: 600px;
}
#title-discover{
    padding:10px;
    letter-spacing: 1px;
    font-size:40px;
    color:#00C49A;
    font-weight: bold;
}
#start-left>p{
    margin-top:20px;
    font-weight: normal;
    font-size:14px;
    line-height: 250%;
    color:white;
    margin-bottom:50px;
}
#start-button1{
    color:black;
    font-weight: 400;
    font-size:20px;
    padding:20px 26px;
    background-color: #00C49A;
    border-radius: 40px;
    border: 3px solid white;
    box-shadow:6px 6px 0 0 #005062;
}
#start-button1:hover{
    box-shadow:none;
    transition: all 0.5s ease-in-out;
    background: none;
    color:#266CEF;
    border: 3px solid #266CEF;
}
#start-button2{
    margin-left:40px;
    font-weight: 400;
    font-size:20px;
    padding:20px 45px;
    border: 3px solid #00C49A;
    border-radius: 40px;
    color:white;
    box-shadow: 6px 6px 0 0 #005062;
    fill:0;
}
#start-button2:hover{
    background-color: #00C49A;
    transition: all 0.5s ease-in-out;
    box-shadow: none;
    border: 3px solid white;
}
#start-image{
    margin-top:150px;
}
#flare{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #266CEF;
    filter:blur(200px);
    transform: translate(50%,-150%);
    animation:flareAnimation 5s infinite;
}

@keyframes flareAnimation{
    0%{
        background-color: #266CEF;
    }
    50%{
        background-color: #00C49A;
    }
    100%{
        background-color: #266CEF;
    }
}
#featuresAndBenefits{
    margin-top:200px;
    margin-left:100px;
}
#miniTitle{
    color:white;
    font-size:15px;
    font-weight: normal;
}
#mainTitle{
    color:#266CEF;
    font-size:35px;
    font-weight: 600;
}
#features-container{
    flex-wrap: wrap;
    display:flex;
    flex-direction: row;
    gap:50px;
    margin-top:100px;
}
.features{
    border: 2px solid #266CEF;
    border-radius: 30px;
    max-width: 300px;
}
.feature-h1{
    max-width: 80%;
    padding:20px;
    margin-top:20px;
    color:white;
    font-weight: 500;
    font-size:16px;
}
.feature-p{
    padding:20px;
    font-size:10px;
    font-weight: 200;
    color:white;
    max-width: 60%;
    margin-bottom:30px;
}
#feature1:hover{
    background-color: #266CEF;
    border-radius: 20px;
    border:2px solid white;
    margin-left:80px;
    margin-right: 80px;
    padding:40px;
    transition: all 0.3s ease-in-out;
}
#feature1:hover>.feature-h1{
    font-size:20px;
    transition: all 0.3s ease-in-out;
}
#feature1:hover>.feature-p{
    font-size:16px;
    transition: all 0.3s ease-in-out;
}
#feature-button{
    margin-left:10px;
    color:black;
    background-color: white;
    padding:10px;
    border-radius: 20px;
    visibility: hidden;
}
.features:hover>#feature-button{
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.features:not(:hover){
    transition: all 1s ease-in-out;
}
#about1{
    margin-top:100px;
}
#mainTitle2{
    margin-left:100px;
    color:white;
    font-size:35;
    font-weight: 500;
}
#miniTitle2{
    margin-left:100px;
    color:white;
    font-size:15;
    font-weight: 400;
}
#about-child{
    border-radius: 20px;
    border:2px solid grey;
    max-width: 40%;
    margin-top:40px;
    margin-left:150px;
}
#about-child-h1{
    color:white;
    font-size:25;
    padding:20px;
}
#about-child-p{
    color:white;
    padding:20px;
    font-size:16px;
    visibility: hidden;
    position: absolute;
}
#about-child:hover{
    padding:40px;
    transition: all 0.3s ease-in-out;
}
#about-child:hover>#about-child-p{
    transition: all 0.5s ease-in-out;
    visibility: visible;
    position: static;
}
#about-child:not(:hover){
    transition: all 0.5s ease-in-out;
}
#reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.review{
    justify-content: left;
    width: 25%;
    background-color: #080c10;
    border-radius: 20px;
    margin:40px;
}
#review-p{
    color:white;
    padding:30px;
    font-size:12px;
    font-weight: 300;
}



