{% extends "base.html" %}

{% block title %}Create a team{% endblock %}

{% block content %}
    <h1>Create a team</h1>
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <input type="text" name="teamName"> <br>

        <select name="selectUser" id="" multiple>
        {% for user in users %}
            <option value="{{user.pk}}">{{user}}</option>
        {% endfor %}
        </select>
        <br>

        <input type="submit" value="Create team">
    </form>
{% endblock %}