{% extends "base.html" %}

{% block title %}Edit team information{% endblock %}

{% block content %}
    <h1>Edit team</h1>
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
          <input type="text" name="teamName" value="{{team.team_name}}"> <br>

        <select name="selectUser" id="" multiple>
        {% for user in users %}
            <option value="{{user.pk}}">{{user}}</option>
        {% endfor %}
        </select>
        <br>

        <input type="submit" value="Save changes">
    </form>
{% endblock %}