*{
    margin: 0;
    padding:0;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #181925;
}
#sideNav{
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #000000;
    position: fixed;
    width: 80px;
    height: 100vh;
    gap:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.items{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 60%;
    height: 48px;
}
.items:hover>img{
    mix-blend-mode:difference;
}
.items:hover{
    background-color: white;
    transition:all 0.3s ease-in-out;
    border-radius: 50%;
}
#sideNav:hover{
    gap:30px;
    transition: all 0.5s ease-in-out;
}
#sideNav:not(:hover){
    transition: all 0.5s ease-in-out;
}
.items:hover{
    margin-top:10px;
    margin-bottom:10px;
    transition: all 0.3s ease-in-out;
}
.items:not(:hover){
    transition: all 0.5s ease-in-out;
}
#logo{
    position: absolute;
    left:40px;
    top:40px;
    transform: translate(-50%,-50%);
}
#info-container{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left:90px;
}
#info{
    border:5px solid #181925;
    padding:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 29px;
    background-color: #000000;
}
#hello{
    margin:12px;
    color:white;
    font-size:16px;
}
#info>img{
    padding:5px;
    height: 32px;
}
#info-h1{
    margin:12px;
    color:white;
    font-size:12px;
}
.sign{
    background-color: white;
    padding:5px 15px;
    color:black;
    margin:0 15px;
    border-radius: 20px;
}
#signOut{
    border: 2px solid black;
    box-shadow: 3px 3px 0 0 black;
    color:black;
}
a{
    text-decoration: none;
}
#title{
    margin-left:90px;
    color:white;
    font-weight: 600;
    padding:10px;
}
#dashBoard{
    margin-left:90px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}
#input{
    position:fixed;
    top:95vh;
    transform: translate(-50%,-50%);
    left:50%

}
#input-field{
    display: inline;
    width: 1100px;
    height: 60px;
    background: none;
    border: 2px solid #00C49A;
    border-radius: 20px;
}
#input-field::placeholder{
    color:#00C49A;
    padding-left:10px;
}
#input-field{
    color:#00C49A;
}
#send{
    display: inline-block;
    border: none;
    height: 62px;
    padding:15px;
    color:white;
    background-color: #00C49A;
    border-radius: 20px;
    cursor: pointer;
}
#answer{
    background-color: black;
    padding:20px;
    border-radius: 30px;
    max-width: 800px;
}
#answer-title{
    margin-top:10px;
    color:white;
    font-size:16px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap:20px;
}