{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/homepage/Logo-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <header id="sideNav">
        <div>
            <img id="logo" src="{% static 'img/homepage/logo main white.png' %}" height="48px">
        </div>
        <a style="border-radius: 50%;background-color: white;" class="items" href="">
            <img style="mix-blend-mode: difference;" src="{% static 'img/homepage/icons/Home_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/homepage/icons/Group_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/homepage/icons/User_add_alt_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/homepage/icons/Chart_alt_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/homepage/icons/Trophy_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/homepage/icons/Mortarboard_alt_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/homepage/icons/Subttasks_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/homepage/icons/image 5.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/homepage/icons/Molecule_light.png' %}">
        </a>
    </header>
    <div id="info-container">
        <div style="display:flex;flex-direction: row;">
            <div id="info">
                <img src="{% static 'img/homepage/icons/gen av.png' %}" height="40px" alt="avatar">
                <h1 id="hello">Hello <span style="font-weight: 600;color:#3B28CC;font-size:14p">User</span></h1>
            </div>
            <div id="info">
                <img src="{% static 'img/homepage/icons/Trophy_light.png' %}" height="40px">
                <h1 id="info-h1">Current Global Ranking: <span style="color:#3B28CC;font-weight: 700;font-size:16px">2137</span></h1>
            </div>
            <div id="info">
                <img src="{% static 'img/homepage/icons 2/Fire_fill.png' %}" height="40px">
                <h1 id="info-h1">Daily Streak: <span style="color:#3B28CC;font-weight: 700;font-size:16px">2137</span></h1>
            </div>
            <div id="info">
                <img src="{% static 'img/homepage/icons/Trophy_light.png' %}" height="40px">
                <h1 id="info-h1">Your rank: <span style="color:black;font-weight: 700;font-size:16px;background-color: #EEC643;border-radius: 20px;padding:5px">Gold</span></h1>
            </div>
            <div id="info">
                <img src="{% static 'img/homepage/icons 2/Money_light.png' %}" height="40px">
                <h1 id="info-h1">Your points: <span style="color:#3B28CC;font-weight: 700;font-size:16px;;">3221</span></h1>
            </div>
            <div id="info">
                <img src="{% static 'img/homepage/icons 2/Expand_left_double_light.png' %}" height="40px">
                <h1 id="info-h1">Points to promote <span style="color:#3B28CC;font-weight: 700;font-size:16px;;">3221</span></h1>
            </div>
        </div>
        <div style="display: flex; justify-content: center;align-items: center;margin-right: 20px;">
            <a class="sign" id="signOut" href="">Sign out</a>
            <a href=""><img src="{% static 'img/homepage/icons/gen av.png' %}"></a>
        </div>
    </div>
    <hr style="border: 1px solid grey;margin-top:5px;">
    <h1 id="title">Main Dashboard</h1>
    <div id="dashBoard">
        <div id="column">
            <div id="lessons">
                <h1 id="lessons-h1">Today's Lessons</h1>
                <div id="subject">
                    <div style="display:flex;flex-direction: column;">
                        <h1 id="subject-h1">Polisch</h1>
                        <p id="subject-p">Quadratic Equation</p>
                    </div>
                    <a id="button" href=""><img src="{% static 'img/homepage/icons 2/Expand_right_double 1.png' %}"></a>
                </div>
                <div id="subject">
                    <div style="display:flex;flex-direction: column;">
                        <h1 id="subject-h1">Polisch</h1>
                        <p id="subject-p">Quadratic Equation</p>
                    </div>
                    <a id="button" href=""><img src="{% static 'img/homepage/icons 2/Expand_right_double 1.png' %}"></a>
                </div>
                <div id="subject">
                    <div style="display:flex;flex-direction: column;">
                        <h1 id="subject-h1">Polisch</h1>
                        <p id="subject-p">Quadratic Equation</p>
                    </div>
                    <a id="button" href=""><img src="{% static 'img/homepage/icons 2/Expand_right_double 1.png' %}"></a>
                </div>
            </div>
            <div id="ranking">
                <h1 id="lessons-h1">Ranking</h1>
                <p id="ranking-p">Your rank: <span style="margin:10px;padding:7px; color:rgb(255, 255, 255);font-weight: 700;background-color: #3B28CC;border-radius: 20px;">Gold</span></p>
                <p id="ranking-p">Your points: <span style="font-weight:700;margin:10px;color:#3B28CC">2137</span></p>
                <div id="ranking-User">
                    <p id="user-place">#2137</p>
                    <img id="user-av" src="{% static 'img/homepage/icons/gen av.png' %}">
                    <p id="user-name">User</p>
                </div>
                <div id="ranking-User">
                    <p id="user-place">#2137</p>
                    <img id="user-av" src="{% static 'img/homepage/icons/gen av.png' %}">
                    <p id="user-name">User</p>
                </div>
                <div id="ranking-User">
                    <p id="user-place">#2137</p>
                    <img id="user-av" src="{% static 'img/homepage/icons/gen av.png' %}">
                    <p id="user-name">User</p>
                </div>
                <div id="ranking-User">
                    <p id="user-place">#2137</p>
                    <img id="user-av" src="{% static 'img/homepage/icons/gen av.png' %}">
                    <p id="user-name">User</p>
                </div>
                <div id="ranking-User">
                    <p id="user-place">#2137</p>
                    <img id="user-av" src="{% static 'img/homepage/icons/gen av.png' %}">
                    <p id="user-name">User</p>
                </div>
            </div>
        </div>
        <div id="column">
            <div id="funFact">
                <div style="display: flex;flex-direction: column;">
                    <h1 id="funFact-title"><img src="{% static 'img/homepage/icons 2/Lamp violet.png' %}">Today's Fun Fact</h1><br>
                    <p id="funFact-subtitle">Subject: <span>{{ fun_facts.0.1 }}</span></p>
                    <p id="text">{{ fun_facts.0.0 }}.</p>
                </div>
            </div>
            <div id="learningPath">
                <div id="learningPath-child">
                    <h1 id="learningPath-h1"><img src="{% static 'img/homepage/icons/Molecule_light.png' %}">Current Learning Path</h1>
                    <h1 style="font-weight: 300;color:#3B28CC" id="learningPath-h1">You are currently learning:</h1>
                    <ul id="subjects-list">
                        <li>-Polisch - Lesson 52</li>
                        <li>-Math - Lessonb 43</li>
                        <li>-English - Lesson 54</li>
                    </ul>
                    <a id="path" href="">Edit Learning Path</a>
                </div>
                <div id="ExpandAndStrenghten">
                    <h1 id="ExpandAndStrenghten-h1">Strenghten:</h1>
                    <p id="ExpandAndStrenghten-subject">Polisch- 52% Avg</p>
                    <h1 id="ExpandAndStrenghten-h1">Expand:</h1>
                    <p style="margin-bottom:20px" id="ExpandAndStrenghten-subject">English 85% Avg</p>
                    <a id="path" href="">See more</a>
                </div>
            </div>
            <div id="groupsAndFirends">
                <div id="groups">
                    <h1><img src="{% static 'img/homepage/icons/Group_light.png' %}">Teams</h1>
                    <div id="message">
                        <p>SS group</p>
                        <p>Message</p>
                        <a href=""><img src="{% static 'img/homepage/icons 2/Expand_right_double 1.png' %}"></a>
                    </div>
                    <div id="message">
                        <p>SS group</p>
                        <p>Message</p>
                        <a href=""><img src="{% static 'img/homepage/icons 2/Expand_right_double 1.png' %}"></a>
                    </div>
                    <div style="flex-direction: row;display: flex;">
                        <a id="joinATeam" href="">Join a team</a>
                        <a id="seeTeams" href="">See your teams</a>
                    </div>
                </div>
                <div id="friends">
                    <h1 id="friends-h1"><img src="{% static 'img/homepage/icons/User_add_alt_light.png' %}">Active Friends</h1>
                    <div id="friend">
                        <p id="friend-p"><img src="{% static 'img/homepage/icons/gen av.png' %}" height="24px">User1</p>
                    </div>
                    <div id="friend">
                        <p id="friend-p"><img src="{% static 'img/homepage/icons/gen av.png' %}" height="24px">User1</p>
                    </div>
                    <div id="friend">
                        <p style="color:red" id="friend-p"><img src="{% static 'img/homepage/icons/gen av.png' %}" height="24px">User1</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="column3">
            <div id="virtualTeacher">
                <h1 id="vT-h1"><img src="{% static 'img/homepage/icons 2/Lamp violet.png' %}">Virtual's Teacher Advice</h1>
                <h1 style="font-size:14px;color:white" id="vT-h1">Learn More about..</h1>
                <p id="vT-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus quis eros ac convallis. Vestibulum finibus luctus auctor. Vivamus placerat nulla sed sapien ultrices, eget convallis metus sodales. Fusce eget cursus ipsum. Integer eu ipsum id ligula facilisis efficitur. Phasellus hendrerit suscipit rutrum. Quisque elementum magna purus, eget viverra justo viverra ac. Etiam tempus porttitor pharetra.</p>
            </div>
        </div>
    </div>
</body>
</html>