{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/Logo-favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <header id="sideNav">
        <div>
            <img id="logo" src="{% static 'img/logo main white.png' %}" height="48px">
        </div>
        <a style="border-radius: 50%;background-color: white;" class="items" href="">
            <img style="mix-blend-mode: difference;" src="{% static 'img/icons/Home_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/icons/Group_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/icons/User_add_alt_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/icons/Chart_alt_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/icons/Trophy_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/icons/Mortarboard_alt_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/icons/Subttasks_light.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/icons/image 5.png' %}">
        </a>
        <a class="items" href="">
            <img src="{% static 'img/icons/Molecule_light.png' %}">
        </a>
    </header>
    <div id="info-container">
        <div style="display:flex;flex-direction: row;">
            {% for key, value in ranks.items.0 %}
            <h4>{{key}}</h4>
            <ol>
                {% for user in value %}
                    <li>{{user.user.username}}: {{user.points}}</li>
                {% endfor%}
            </ol>
        {% endfor %}
            <div id="info">
                <img src="{% static 'img/icons/Trophy_light.png' %}" height="40px">
                <h1 id="info-h1">Current Global Ranking: <span style="color:#EF2D56;font-weight: 700;font-size:16px">2137</span></h1>
            </div>
            <div id="info">
                <img src="{% static 'img/icons 2/Fire_fill.png' %}" height="40px">
                <h1 id="info-h1">Daily Streak: <span style="color:#EF2D56;font-weight: 700;font-size:16px">2137</span></h1>
            </div>
            <div id="info">
                <img src="{% static 'img/icons/Trophy_light.png' %}" height="40px">
                <h1 id="info-h1">Your rank: <span style="color:#EF2D56;font-weight: 700;font-size:16px;;border-radius: 20px;padding:5px">Gold</span></h1>
            </div>
            <div id="info">
                <img src="{% static 'img/icons 2/Money_light.png' %}" height="40px">
                <h1 id="info-h1">Your points: <span style="color:#EF2D56;font-weight: 700;font-size:16px;;">3221</span></h1>
            </div>
            <div id="info">
                <img src="{% static 'img/icons 2/Expand_left_double_light.png' %}" height="40px">
                <h1 id="info-h1">Points to promote <span style="color:#EF2D56;font-weight: 700;font-size:16px;;">3221</span></h1>
            </div>
        </div>
        <div style="display: flex; justify-content: center;align-items: center;margin-right: 20px;">
            <a class="sign" id="signOut" href="">Sign out</a>
            <a href=""><img src="{% static 'img/icons/gen av.png' %}"></a>
        </div>
    </div>
    <hr style="border: 1px solid grey;margin-top:5px;">
    <h1 id="title">Main Dashboard</h1>
    <div id="dashBoard">
        <div id="stats">
            <div id="statistic">
                    <img src="{% static 'img/icons 2/Trophy_light-1.png' %}">
                    <h1 id="stat-h1">Your rank: <span style="color:#EF2D56;font-weight: 600;"> Gold</span></h1>
            </div>
            <div id="statistic">
                <img src="{% static 'img/icons 2/Money_light.png' %}">
                <h1 id="stat-h1">Your points <span style="color:#EF2D56;font-weight: 600;"> 2137</span></h1>
            </div>
            <div id="statistic">
                <img src="{% static 'img/icons 2/Money_light.png' %}">
                <h1 id="stat-h1">Your points <span style="color:#EF2D56;font-weight: 600;"> 2137</span></h1>
            </div>
            <div id="statistic">
                <img src="{% static 'img/icons 2/Fire_fill.png' %}">
                <h1 id="stat-h1">Dialy Streak: <span style="color:#EF2D56;font-weight: 600;"> 137 Days!</span></h1>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;">
            <div id="ranking">
            <h1 id="ranking-h1">Ranking - Leauge: Gold</h1>
            <div id="places">
                <div id="place">
                    <div>
                        <h1 id="place-h1">#3 172</h1>
                    </div>
                    <div style="display: flex;align-items: center;">
                        <img src="{% static 'img/icons/gen av.png' %}">
                        <p id="nickname">User 1</p>
                    </div>
                </div>
                <div id="place">
                    <div>
                        <h1 id="place-h1">#3 172</h1>
                    </div>
                    <div style="display: flex;align-items: center;">
                        <img src="{% static 'img/icons/gen av.png' %}">
                        <p id="nickname">User 1</p>
                    </div>
                </div>
                <div id="place" style="background-color: #EF2D56;">
                    <div>
                        <h1 id="place-h1">#3 172</h1>
                    </div>
                    <div style="display: flex;align-items: center;">
                        <img src="{% static 'img/icons/gen av.png' %}">
                        <p id="nickname">YOu</p>
                    </div>
                </div>
                <div id="place">
                    <div>
                        <h1 id="place-h1">#3 172</h1>
                    </div>
                    <div style="display: flex;align-items: center;">
                        <img src="{% static 'img/icons/gen av.png' %}">
                        <p id="nickname">User 1</p>
                    </div>
                </div>
                <div id="place">
                    <div>
                        <h1 id="place-h1">#3 172</h1>
                    </div>
                    <div style="display: flex;align-items: center;">
                        <img src="{% static 'img/icons/gen av.png' %}">
                        <p id="nickname">User 1</p>
                    </div>
                </div>
                <div id="place">
                    <div>
                        <h1 id="place-h1">#3 172</h1>
                    </div>
                    <div style="display: flex;align-items: center;">
                        <img src="{% static 'img/icons/gen av.png' %}">
                        <p id="nickname">User 1</p>
                    </div>
                </div>
                <div id="place">
                    <div>
                        <h1 id="place-h1">#3 172</h1>
                    </div>
                    <div style="display: flex;align-items: center;">
                        <img src="{% static 'img/icons/gen av.png' %}">
                        <p id="nickname">User 1</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>